{% extends "base.html" %}

{% block customcss %}
    body {
    padding-top: 40px; /* When using the navbar-fixed-top */
    }
{% endblock %}

{% block beforebodyend %}
    <script src="{{ STATIC_URL }}/jquery.ui.datepicker-sv.js"></script>
    <script>
        $(document).ready(function () {
            $('span#date').text($.datepicker.formatDate('D d MM yy', new Date()));
        });
    </script>
{% endblock %}

{% block content %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Webscreenshots v0.61<em>beta</em></a>
                <ul class="nav pull-left">
                    <li>
                        <a href="/"><i class="icon-calendar icon-white"></i>&nbsp;&nbsp;<span id="date"></span></a>
                    </li>
                    <li class="active">
                        <a href="/about">About</a>
                    </li>
                </ul>
                <ul class="nav pull-right hidden-phone">
                    <a class="btn btn-primary"
                       href="https://bitbucket.org/captnswing/webscreenshots">code@bitbucket</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Changelog</h2>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>2013-03-17</td>
                <td>v0.61<br>"improved&nbsp;layout"</td>
                <td>
                    <ul>
                        <li>toggeling configuration area</li>
                        <li>improved error pages</li>
                        <li>hour buttons show date on hover</li>
                        <li>using bootstrap scaffolding correctly now:</li>
                        <ul>
                            <li>using larger part of available viewport</li>
                            <li>fixed layout bugs in Chrome</li>
                        </ul>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2013-02-18</td>
                <td>v0.6<br>"improved&nbsp;functionality"</td>
                <td>
                    <ul>
                        <li>selected sites survive a datechange</li>
                        <li>default sites shown now are: Aftonbladet, DN, SVT</li>
                        <li>updated bootstrap to 2.3.0</li>
                        <li>only show last 9 hours on current day, or kl14.00 - 20.00 on any other day, to
                            reduce initial number of images required to load
                        </li>
                        <li>working previous and next buttons that allow for fetching of newer / older hours</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td width="100">2013-01-11</td>
                <td>v0.5<br>"minimal&nbsp;viable&nbsp;product"</td>
                <td>
                    <ul>
                        <li>first public release</li>
                        <li>some bugs & many missing features</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        {% if debug %}
            <p>google+ widget</p>
        {% else %}
            // a <a href="https://plus.google.com/114801313734706315605/posts">Frank Hoffsümmer</a> production ☺
            <div class="g-plusone" data-size="tall"></div>
        {% endif %}
    </div>
{% endblock %}
