{% extends "base.html" %}

{% block extraheaders %}
<script src="{{ STATIC_URL }}/jquery.ui.datepicker-sv.js"></script>
<script>
    // from http://trentrichardson.com/2011/09/27/better-javascript-date-add-and-diff/
    Date.prototype.adjust = function (part, amount) {
        part = part.toLowerCase();
        var map = {
            years:'FullYear',
            months:'Month',
            weeks:'Hours',
            days:'Hours',
            hours:'Hours',
            minutes:'Minutes',
            seconds:'Seconds',
            milliseconds:'Milliseconds',
            utcyears:'UTCFullYear',
            utcmonths:'UTCMonth',
            utcweeks:'UTCHours',
            utcdays:'UTCHours',
            utchours:'UTCHours',
            utcminutes:'UTCMinutes',
            utcseconds:'UTCSeconds',
            utcmilliseconds:'UTCMilliseconds'
        };
        var mapPart = map[part];
        if (part == 'weeks' || part == 'utcweeks') amount *= 168;
        if (part == 'days' || part == 'utcdays') amount *= 24;
        this['set' + mapPart](this['get' + mapPart]() + amount);
        return this;
    };

    // from http://trentrichardson.com/2011/09/29/looping-through-dates-with-javascript/
    Date.prototype.each = function (endDate, part, step, fn, bind) {
        var fromDate = new Date(this.getTime()),
                toDate = new Date(endDate.getTime()),
                pm = fromDate <= toDate ? 1 : -1,
                i = 0;
        while ((pm === 1 && fromDate <= toDate) || (pm === -1 && fromDate >= toDate)) {
            if (fn.call(bind, fromDate, i, this) === false) break;
            i += step;
            fromDate.adjust(part, step * pm);
        }
        return this;
    };

    function addZero(val) {
        return (parseInt(val) < 10) ? "0" + val : val;
    }

    function getbaseurl(chosendate) {
        var domain = "http://d2np6cnk6s6ggj.cloudfront.net";
        var curr_year = chosendate.getFullYear();
        var curr_month = chosendate.getMonth() + 1; //Months are zero based
        var curr_date = chosendate.getDate();
        return [domain, curr_year, addZero(curr_month), addZero(curr_date), ''].join('/');
    }

    function gethoururl(chosendate, chosensite, chosenext) {
        if ((typeof chosendate === 'undefined') || (typeof chosensite === 'undefined')) {
            return [];
        }
        var myurl;
        myurl = getbaseurl(chosendate);
        myurl += chosensite.replace('/', '|') + '/' + addZero(chosendate.getHours()) + '.00';
        if (typeof chosenext !== 'undefined') {
            myurl += '-' + chosenext;
        }
        myurl += '.jpg';
        return myurl;
    }

    function getimgtd(chosendate, chosensite) {
        //  <td class="aftonbladet.se">
        //      <a href="http://d2np6cnk6s6ggj.cloudfront.net/2013/01/06/aftonbladet.se/17.00-top.jpg">
        //          <img width="250px" src="http://d2np6cnk6s6ggj.cloudfront.net/2013/01/06/aftonbladet.se/17.00-thumb.jpg">
        //      </a>
        // </td>
        var url = gethoururl(chosendate, chosensite, "thumb");
        var tdstring = "<td class='" + chosensite + "'>";
        tdstring += "<a href='" + url.replace('-thumb', '-top') + "'>";
        tdstring += "<img width='300px' src='" + url + "' />";
        tdstring += "</a></td>";
        return tdstring;
    }

    function getvisiblehours(chosenDate) {
        var primetime = 20;
        var showlasthours = 6;
        var visiblehours = [];
        var startDate = new Date(chosenDate.getTime());
        var today = new Date();
        var cmpdate = new Date(chosenDate.getTime());
        if (today.setHours(0, 0, 0, 0) === cmpdate.setHours(0, 0, 0, 0)) {
            // chosenDate = today
            // set hour range to last 6 hours
            startDate.adjust('hours', -1 * showlasthours);
        } else {
            // chosenDate != today
            // set hour range from (primetime-showlasthours) to primetime
            startDate.setHours(primetime - showlasthours, 0, 0, 0);
            chosenDate.setHours(primetime, 0, 0, 0);
        }
        // iterate over date interval, in 1 hour steps
        chosenDate.each(startDate, 'hours', 1, function (currentDate, currentStep, thisDate) {
            // add new date object to array
            visiblehours.push(new Date(currentDate.getTime()));
        });
        return visiblehours;
    }

    $(document).ready(function () {
        var sites = ["aftonbladet.se", "svt.se", "svt.se/nyheter", "expressen.se"];
        var chosenDate = new Date("{{ selected_day }}");
        console.log(chosenDate);
        $('h1#date').text($.datepicker.formatDate('D d MM yy', chosenDate));

        var visiblehours = getvisiblehours(chosenDate);
        var offhours = [23, 0, 1, 2, 3, 4, 5, 6];

        $.each(visiblehours, function (i, currentHour) {
            myrow = "<tr>";
            myrow += "<td>";
            var curr_hour = currentHour.getHours();
            if ($.inArray(curr_hour, offhours) == -1) {
                myrow += "<a href='" + '#not_implementet_yet' + "'>kl " + addZero(currentHour.getHours()) + ".00</a>";
            } else {
                myrow += "kl " + addZero(currentHour.getHours()) + ".00";
            }
            myrow += "</td>";
            $.each(sites, function (i, site) {
                myrow += getimgtd(currentHour, site);
            });
            $("#mytable").find("> tbody:last").append(myrow);
        });
    });
</script>


{% endblock %}

{% block content %}

<h1 id="date"></h1>
<table id="mytable" border="1">
    <thead>
    <tr>
        <th>klockan</th>
        <th>aftonbladet.se</th>
        <th>svt.se</th>
        <th>svt.se/nyheter</th>
        <th>expressen.se</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

// a <a href="https://plus.google.com/114801313734706315605/posts">Frank Hoffsümmer</a> <a href="https://bitbucket.org/captnswing/webscreenshots">production</a> ☺

{% endblock %}
