{% extends "ws_base.html" %}

{% block beforebodyend %}
    {{ block.super }}
    <script>
        // the great django --> javascript transfer
        var offhours = $.parseJSON('{{ offhours|safe }}');
        var sites = $.parseJSON('{{ selected_sites_json|safe }}');
        var chosenDate = new Date("{{ selected_day }}");
        var firstData = new Date("{{ first_data_day }}");
        var ddiff = firstData.diff(new Date(), 'days');
        var longestback = ddiff > 90 ? 90 : ddiff;
        var chosenWidth = parseInt({{ thumbwidth }});
        var loupe = "{{ loupe }}";
        var wsimages_path = "{{ wsimages_path }}";

        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['sv']);

            $("#datepicker").datepicker({
                minDate: -longestback,
                maxDate: "0D",
                defaultDate: chosenDate,
                showOtherMonths: true,
                selectOtherMonths: true,
                showAnim: "slideDown",
                dateFormat: "d MM",
                showWeek: true,
                firstDay: 1,
                onSelect: function (dateText, inst) {
                    var datestr = inst.selectedYear + "-" + addZero(inst.selectedMonth + 1) + "-" + addZero(inst.selectedDay)
                    var dateurl = '/' + datestr + '/';
                    $("#configform").attr("action", dateurl);
                    $("#configform").submit();
                }
            });

            $('#datePicker').datepicker('setDate', chosenDate);

            //$('span#date').text($.datepicker.formatDate('D d MM yy', chosenDate));

            $("#mytable tbody").on("click", "button.hour", function () {
                var primary = $(this).attr('class').indexOf("btn-success") > -1;
                // epoch milliseconds, eg 1357581600000
                var tr_id = $(this).parent().parent().attr('id');
                var rowHour = new Date(parseInt(tr_id));
                var visibleminutes = getminuterange(rowHour);
                if (primary) {
                    var allrows = getrows(visibleminutes, sites, chosenWidth);
                    $.each(allrows, function (i, rowhtml) {
                        $("#" + tr_id).closest("tr").before(rowhtml);
                    });
                    $(this).removeClass("btn-success");
                    // rebind loupe plungin. not ideal. don't know how to do it properly
                    if (loupe === "on") {
                        $('.wsimage').loupe({width: 500, height: 500, loupe: 'loupe'});
                    }
                } else {
                    $.each(visibleminutes, function (i, d) {
                        $("#" + d.getTime()).remove();
                    });
                    $(this).addClass("btn-success");
                }
            });

            // check all the checkboxes that are in "sites" array
            $(":checkbox").each(function () {
                var cbname = $(this).attr('name');
                var cb_in_sites = $.inArray(cbname, sites) > -1;
                $(this).attr('checked', cb_in_sites);
            });

            $(":checkbox").on("click", function () {
                var checked = (typeof($(this).attr("checked")) !== 'undefined');
                var unchecked = (typeof($(this).attr("checked")) === 'undefined');
                var thissite = $(this).attr("name");
                var selector = "." + thissite.replace(/\./g, '\\.').replace('|', '\\|').replace('/', '\\/');
                if (unchecked) {
                    $(selector).remove();
                    // remove site from sites array
                    sites.splice(sites.indexOf(thissite), 1);
                }
                if (checked) {
                    $("#mytable tr:first").append("<th class='" + thissite + "'>" + thissite + "</th>");
                    $("#mytable tr:not(:first)").each(function () {
                        var tr_id = $(this).attr('id');
                        var tr_date = new Date(parseInt(tr_id));
                        $(this).append(getimgtd(tr_date, thissite, chosenWidth));
                    });
                    // add site to sites array
                    sites.push(thissite);
                    // rebind loupe plungin. not ideal. don't know how to do it properly
                    if (loupe === "on") {
                        $('.wsimage').loupe({width: 500, height: 500, loupe: 'loupe'});
                    }
                }
            });

            $("li.previous, li.next").click(function () {
                if ($(this).attr("class").indexOf("disabled") > -1) {
                    return;
                }
                // TODO: fragile selector.
                var newer = $(this).text().indexOf("nyare") > -1;
                if (newer) {
                    var firstrow = $("#mytable").find("tr").eq(1)
                    var selectedtime = firstrow.attr("id");
                    var morehours = getmorehours(selectedtime, 3);
                    var newrows = getrows(morehours, sites, chosenWidth);
                    newrows.reverse();
                    $.each(newrows, function (i, rowhtml) {
                        firstrow.before(rowhtml);
                    });
                } else {
                    var lastrow = $("#mytable").find("tr:last");
                    var selectedtime = lastrow.attr("id");
                    var morehours = getmorehours(selectedtime, -3);
                    var newrows = getrows(morehours, sites, chosenWidth);
                    newrows.reverse();
                    $.each(newrows, function (i, rowhtml) {
                        lastrow.after(rowhtml);
                    });

                }
            });

            var visiblehours = gethourrange(chosenDate);
            var allrows = getrows(visiblehours, sites, chosenWidth);
            $.each(allrows, function (i, rowhtml) {
                $("#mytable").find("> tbody:last").append(rowhtml);
            });

            if (loupe === "on") {
                $('.wsimage').loupe({width: 500, height: 500, loupe: 'loupe'});
            }

            if (isCurrentDay(chosenDate)) {
                $("li.next").addClass("disabled");
            }

            $('li#calendar').click(function () {
                $('i#topdown').toggleClass("ui-icon-triangle-1-n ui-icon-triangle-1-s");
                $('#header').slideToggle('slow');
            });
        });

    </script>

    {% if not debug %}
        <script type="text/javascript">
            var uvOptions = {};
            (function () {
                var uv = document.createElement('script');
                uv.type = 'text/javascript';
                uv.async = true;
                uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/wxVJbsdqYgYGAqFuvWUhg.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(uv, s);
            })();
        </script>
    {% endif %}

{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="header" class="container">
        <form method="POST" id="configform">{% csrf_token %}
            <div id="datepicker" class="span3"></div>
            {% for chunk in allsites %}
                {% if chunk.0.0 == 'Riks' %}
                    <div class="span2 sitecheckboxes btn-group btn-group-vertical">
                    <h6>{{ chunk.0.0 }}</h6>
                    {% for site in chunk %}
                        <label class="checkbox">
                            <input name='{{ site.1 }}' type="checkbox">{{ site.1 }}
                        </label>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </form>
    </div>

    <div class="container">
        <ul class="pager pull-left">
            <li class="next">
                <a>&larr; hämta nyare</a>
            </li>
        </ul>
        <table class="table table-bordered" id="mytable">
            <thead>
            <tr>
                <th></th>
                {% for site in selected_sites %}
                    <th class="{{ site }}">{{ site }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <ul class="pager">
            <li class="previous">
                <a>hämta äldre &rarr;</a>
            </li>
        </ul>
    </div>
{% endblock %}
