{% extends "base.html" %}

{% block customcss %}
div.ui-datepicker {
    font-size: 90%;
}
{% endblock %}

{% block extraheaders %}
<link rel="stylesheet" href="{{ STATIC_URL }}/timelinr/css/style_v.css" media="screen" />
<script src="{{ STATIC_URL }}/timelinr/js/jquery.timelinr-0.9.52.js"></script>
<script>
$(function() {
    $('.divforms').hide();
    $.datepicker.setDefaults($.datepicker.regional['sv']);
    $("#datepicker").datepicker({
        minDate: -30,
        maxDate: "0D",
        showOtherMonths: true,
        selectOtherMonths: true,
        showAnim: "slideDown",
        dateFormat: "d MM",
        showWeek: true,
        firstDay: 1
//        showOn: "button",
//        buttonImage: "images/calendar.gif",
//        buttonImageOnly: true
    });

   $().timelinr({
       orientation: 'vertical',
       datesSpeed: 'normal',
       issuesSpeed: 'fast',
       startAt: 12
   });
});
</script>
{% endblock %}

{% block content %}
<div class="divforms">
<form>
<fieldset>
<div>
    <input class="input-medium" type="text" id="datepicker" />
</div>
<div>
<select size="10" multiple="multiple">
    {% for s in sites %}
    <option>{{ s }}</option>
    {% endfor %}
</select>
</div>
<div class="form-horizontal">
    <button type="submit" class="btn">Submit</button>
</div>
</fieldset>
</form>
</div>

{% for h in hourthumbs %}
{% ifequal h currenthour %}yes {{ h }}{% endifequal %}
{% endfor %}

<div id="timeline">
    <ul id="dates">
        {% for v in hourthumbs|dictsort:"hour" %}
        <li><a href="#{{ v.hour|date:'H.i' }}">{{ v.hour|date:"H.i" }}</a></li>
        {% endfor %}
    </ul>
    <ul id="issues">
        {% for v in hourthumbs|dictsort:"hour" %}
        <li id="{{ v.hour|date:'H.i' }}">
            <h2>{{ v.hour|date:'H.i' }}</h2>
            <img src="{{ v.url }}" width="250" />
        </li>
        {% endfor %}
    </ul>
    <!--<div id="grad_top"></div>-->
    <!--<div id="grad_bottom"></div>-->
    <a href="#" id="next">+</a>
    <a href="#" id="prev">-</a>
</div>

{% endblock %}
