[unix_http_server]
file=/tmp/supervisor.sock
;username=super
;password=duper

[inet_http_server]
port=*:9001
;username=super
;password=duper

[supervisord]
logfile={{ ws_home }}/var/log/supervisord.log
pidfile={{ ws_home }}/var/run/supervisord.pid
identifier=webscreenshots
logfile_maxbytes=200MB
;nodaemon=true

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock
;serverurl=http://localhost:9001
;prompt=<%= node['hostname'] %>
history_file={{ ws_home }}/.supervisorctl_history

[include]
files = conf.d/*.ini
