{% extends "base.html" %}

{% block customcss %}
    body {
    padding-top: 40px; /* When using the navbar-top-fixed */
    }
{% endblock %}

{% block beforebodyend %}
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script>
        // the great django --> javascript transfer
        var offhours = $.parseJSON('{{ offhours|safe }}');
        var sites = $.parseJSON('{{ selected_sites_json|safe }}');

        $(document).ready(function () {

        });
    </script>
{% endblock %}

{% block content %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Webscreenshots v0.6<em>beta</em></a>
                <ul class="nav pull-left">
                    <li class="active">
                        <a href="/statistics">Statistics</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <a class="btn btn-primary" href="https://bitbucket.org/captnswing/webscreenshots">code@bitbucket</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="pager pull-left">
            <li class="next">
                <a>&larr; hämta nyare</a>
            </li>
        </ul>
        <ul class="pager">
            <li class="previous">
                <a>hämta äldre &rarr;</a>
            </li>
        </ul>
    </div>

{% endblock %}
