{% extends "base.html" %}
{% load i18n %}

{% block customcss %}
    body {
    padding-top: 40px; /* When using the navbar-top-fixed */
    }
{% endblock %}
{% block extraheaders %}
    <title>{% trans 'Server error (500)' %}</title>
{% endblock %}

{% block beforebodyend %}
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Webscreenshots v0.6<em>beta</em></a>
                <ul class="nav pull-left">
                    <li class="active">
                        <a href="#"><i class="icon-calendar icon-white"></i>&nbsp;&nbsp;<span id="date"></span></a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <a class="btn btn-primary" href="https://bitbucket.org/captnswing/webscreenshots">code@bitbucket</a>
                </ul>
            </div>
        </div>
    </div>
    <h2>{% trans 'Server error (500)' %}</h2>

    <p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>
{% endblock %}
